@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
  background-color: #0b0014;
  color: white;
  overflow-x: hidden;
}

.animate-waving-hand {
  display: inline-block;
  animation: wave 2s infinite;
  transform-origin: 70% 70%;
}
*/ ::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #6a11cb, #2575fc);
  border-radius: 9999px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
